body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #333;
    padding: 10px 0;
    border-top: 5px solid #ff6347;
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    padding-left: 50px; /* Add some padding to the left */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.root-menu > li {
    position: relative;
    display: inline-block;
    margin-right: 50px; /* Adjusted spacing between menu items */
}

.root-menu > li > ul,
.root-menu > li > ul > li > ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    z-index: 1000;
}

.root-menu > li:hover > ul,
.root-menu > li > ul > li:hover > ul {
    display: block;
}

.root-menu > li > ul > li {
    position: relative;
}

.root-menu > li > ul > li > ul {
    left: 100%;
    top: 0;
}

.menu-link {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
}

.menu-link:hover {
    background-color: #555;
    cursor: pointer;
}

.root-menu > li > a {
    padding: 8px 16px;
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.root-menu > li > a:hover {
    background-color: #555;
    border: 1px solid #ccc;
}

.root-menu > li > ul > li > a,
.root-menu > li > ul > li > ul > li > a  {
    color: red; /* Dropdown menu items in red */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
}

h1 {
    color: #333;
}

p {
    color: #666;
}
